/* hide blog sidebar */
#co_ads_container.ads.g260:has(.recent-listing),
.message.older-posts {
display: none;
}

/* hide whatsapp button link ad */
#whatsapp-widget .ww-icon .ww-link {
display: none;
}

/* make social icons bigger */
.cs-f-social-icons {
 font-size: 50px;
}