.fs-matchers .fs-matcher .fs-matcher-image {
  display: none;
}
.fs-matchers .fs-matcher {
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}
.fs-matcher div {
  width: auto;
}
.fs-matchers .fs-matcher .fs-matcher-title {
  text-transform: initial;
  margin: 0;
}
.fs-matchers .fs-matchers-list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 10px;
}