#formContainer {
    max-width: 960px;
    margin: auto;
}

/* inline sponsorship options */
#id_5,
#id_10,
#id_11,
#id_7,
#id_8,
#id_9 {
    display: inline-flex;
}

#id_14 {
    text-align: center;
}

body {
    background-image: url(https://chabadofparkland.com/media/images/1251/QwDS12514196.png);
}