.fs-matchers .fs-matcher .fs-matcher-image {
	display: none;
}
.fs-matchers .fs-matcher,
.heart-donate {
	padding: 0;
}
.fs-matcher-left {
	grid-column: 1/2;
}
.heart-donate {
	grid-column: 2/3;
}
.fs-matcher-right {
	grid-column: 3/4;
	text-align: right;
}
.fs-matcher div {
	width: auto;
}
.fs-matchers .fs-matcher .fs-matcher-title {
	text-transform: initial;
	margin: 0;
}
.fs-matchers .fs-matchers-list {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-column-gap: 10px;
}
@media screen and (max-width: 740px) {
	.heart-donate {
		width: 100px;
	}
}
@media screen and (max-width: 630px) and (min-width: 520px) {
	.heart-donate {
		display: none;
	}
}
@media screen and (max-width: 520px) {
	.fs-matchers .fs-matcher, .heart-donate {
		grid-column: 1/2;
	}
	.fs-matcher-right {
		grid-row: 1/2;
	}
	.heart-donate {
		grid-row: 2/3;
	}
	.fs-matcher-left {
		grid-row: 3/4;
	}
	.fs-matchers .fs-matchers-list {
		justify-items: center;
	}
	.heart-donate {
		margin: 12px auto;
	}
}
@media screen and (min-width: 520px) {
  .fs-matchers .fs-matcher,
  .heart-donate {
    grid-row: 1/2;
  }
}