#content#content#content {
    #donate {
        background-color: #fdfdfd;
    }

    h1,
    h2 {
        color: #de2a43;
        /* Deep red */
    }

    .button,
    .next-button,
    .donate-button {
        background-color: #627b52;
        /* Green */
        color: white;
    }

    .button:hover,
    .next-button:hover,
    .donate-button:hover {
        background-color: #2E7D32;
    }

    #donate-wrapper main .amounts button {
        background-color: #D32F2F;
        color: white;
    }

    #donate-wrapper main .amounts button:hover {
        box-shadow: 0 0 40px 40px #ffc4cd inset;
        color: black;
    }

    :is(.button, .next-button, .donate-button):hover {
        color: black;
        border-color: black;
    }

    #donate-wrapper {
        background: #f6f6f2;
    }

    .footnotes .note,
    .footnotes .disclaimer,
    div#confirm-wrapper::after,
    div#donate-wrapper::after {
        display: none;
    }

    #donate-wrapper .footnotes {
        padding-bottom: 30px;
    }

    .intro-wrapper {
        max-width: 800px;
        margin: auto;
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
    }

    #donate-wrapper #donate .intro-wrapper p.description {
        display: block;
    }

    @media screen and (min-width: 1000px) {
        .mobile-only {
            display: none;
        }
    }
}