@media (max-width:1000px) {
  #donate-wrapper #donate .intro-wrapper p.description {
    display: revert;
  }
}
#js-donate-form>div.content-box.full-row.intro-wrapper>div>p {
  font-size: large;
}
#donate-wrapper {
  background: rgb(2, 0, 36);
  background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 7%, rgba(0, 212, 255, 1) 53%);
}