#donate-wrapper {
  background: #f6f6f2;
}
#donate-wrapper #donate {
  background-color: #fdfdfd;
}
#donate-wrapper h1,
#donate-wrapper h2 {
  color: #de2a43;
  font-weight: 800 !important;
}
#donate-wrapper .button,
#donate-wrapper .next-button,
#donate-wrapper .donate-button {
  background-color: #627b52;
  color: white;
}
#donate-wrapper .button:hover,
#donate-wrapper .next-button:hover,
#donate-wrapper .donate-button:hover {
  background-color: #2E7D32;
}
#donate-wrapper main .amounts button {
  background-color: #D32F2F;
  color: white;
}
#donate-wrapper main .amounts button:hover {
  box-shadow: 0 0 40px 40px #ffc4cd inset;
  color: black;
}
#donate-wrapper .button:hover,
#donate-wrapper .next-button:hover,
#donate-wrapper .donate-button:hover {
  color: black !important;
  border-color: black !important;
}
#donate-wrapper .footnotes .note,
#donate-wrapper .footnotes .disclaimer,
div#confirm-wrapper::after,
div#donate-wrapper::after {
  display: none;
}
#donate-wrapper .footnotes {
  padding-bottom: 30px;
}
#donate-wrapper .intro-wrapper {
  max-width: min(800px, 100%);
  margin: auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}
#donate-wrapper #donate .intro-wrapper p.description {
  display: block;
}
@media screen and (min-width: 1001px) {
  #donate-wrapper .mobile-only {
    display: none !important;
  }
}
#donate-wrapper .image-bg {
  background-color: #fdfdfd;
  background-image: url(https://www.chabadofpicfairvillage.com/media/images/1289/fzPS12894239.jpeg), url(https://www.chabadofpicfairvillage.com/media/images/1289/SfXh12894926.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top, bottom;
}
section#donate.screen-2 h1 ~ * {
  display: none !important;
}
#donate-wrapper main .amounts {
  justify-content: space-around;
}