/* center the form */
#formContainer {
    max-width: 960px;
    margin: auto;
}

/* remove the line between form elements */
.form-line {
    border-bottom: none;
}

/* make the header closer to the top and sides */
#id_19 {
    padding: 0;
    margin-top: 0;
}

/* highlight the form elements the user should interact with */
.highlight {
    border: solid;
    transition: border 0.5s ease;
}

/* center the iframe and give it the scroll background */
#id_14 {
    text-align: center;
    background-image: url(https://chabadofparkland.com/media/images/1251/xgOD12514866.png);
    background-position: center;
    background-size: contain;
    padding-block: 110px;
    background-repeat: no-repeat;
}

#id_14 iframe {
    border: 3px solid #EEE8D0;
    width: 300px;
    aspect-ratio: 624/475;
    height: unset;
}

/* resize the iframe for mobile */
@media screen and (max-width: 600px) {
    #id_14 iframe {
        max-width: 85%;
        height: auto;
    }

    #id_14 {
        padding-block: 10px;
        background-image: none;
    }
}

/* center sponsor elements */
#id_17,
#sponsorElements {
    height: 670px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sponsorElements li {
    width: min-content;
}

#personalInfo {
    flex-direction: column;
    padding-inline: 10px;
    margin: auto;
    max-width: 875px;
}

#personalInfoInnerDiv {
    margin: auto;
}

@media screen and (max-width: 600px) {
    #sponsorElements .form-label-left {
        padding: 0;
        margin: 0;
    }

    #sponsorElements :not(td)>.form-sub-label-container {
        margin-bottom: 4px;
    }

    #sponsorElements .form-label-left label {
        font-size: 14px;
    }

    #sponsorElements {
        height: 375px;
    }

    #personalInfo li {
        padding: 0;
    }
}

#id_17 button {
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
    background: none;
    border: solid 2px;
}

@media screen and (max-width: 600px) {
    #id_17 button {
        margin: 5px;
        padding: 5px;
    }

    #id_17 p {
        margin: 5px;
    }

    #id_17 {
        height: 300px;
    }
}

body {
    background-color: #85907D;
}


/* style CTA to look like button, and space it farther from the header */
#cid_4 {
    text-align: center;
    padding-top: 20px;
}

#header_4 {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid;

    @media screen and (max-width: 600px) {
        padding: 15px;
    }
}

#header_4:hover,
#id_17 button:hover {
    background: #ebe6d8;
    transition: 0.5s;
    color: #85907d;
}

/* change the color of the text */
*:not(input, select),
.form-sub-label,
.form-all .label-message {
    color: #EBE6D8;
}

/* hide sponsorship section on load */
#sponsorElements,
#personalInfo,
#id_17 {
    display: none;
}

/* center the recaptcha */
.js-recaptcha-wrapper>div {
    margin: auto;
}

.button-align-auto {
    text-indent: initial !important;
}

/* hide footer and payment section title */
#label_13,
.footer {
    display: none;
}

/* align the footer pics to the bottom */
#id_20 {
    height: 200px;
    background-color: #FBEFE2;
    text-align: center;
    position: sticky;
    bottom: 0;
    margin: 80px 0 0 0;
}

#id_20 img {
    height: auto;
    max-width: min(250px, 50%);
}

#id_20 p {
    margin: 0;
}