.fs-matchers .fs-matcher .fs-matcher-image {
  display: none;
}
.fs-matchers .fs-matcher {
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}
.fs-matcher div {
  width: auto;
}
.fs-matchers .fs-matcher .fs-matcher-title {
  text-transform: initial;
  margin: 0;
}
.fs-matchers .fs-matchers-list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 10px;
}
/* on smaller screens make the img under fs-matchers-list smaller */
@media screen and (max-width: 525px) {
  .fs-matchers-list img {
    width: 100px;
  }
}
/* on even smaller screens make the img under fs-matchers-list smaller */
@media screen and (max-width: 425px) {
  .fs-matchers .fs-matcher {
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
}
.fs-matchers .fs-matchers-list {
  justify-items: center;
}
.fs-matchers-list img {
  margin-bottom: 12px;
}
}