#header .branding-search {
 content: url(/media/images/1200/jILh12006925.png);
 height: 85%;
 max-height: 100px;
}
@media screen and (max-width: 460px) {
 #header .cs-mobile-menu-open {
  top: 0%;
 }
}