@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

/* center the form */
#formContainer {
    max-width: 960px;
    margin: auto;
}

/* remove the line between form elements */
.form-line {
    border-bottom: none;
}

/* make the header closer to the top and sides */
#id_19 {
    padding: 0;
    margin-top: 0;
}

/* highlight the form elements the user should interact with */
.highlight {
    border: solid;
    transition: border 0.5s ease;
}

/* center the iframe and give it the scroll background */
#id_14 {
    text-align: center;
    background-image: url(https://chabadofparkland.com/media/images/1251/xgOD12514866.png);
    background-position: center;
    background-size: contain;
    padding-block: 110px;
    background-repeat: no-repeat;
}

#id_14 iframe {
    width: 300px;
    aspect-ratio: 624/475;
    height: unset;
}

/* resize the iframe for mobile */
@media screen and (max-width: 600px) {
    #id_14 iframe {
        max-width: 85%;
        height: auto;
    }

    #id_14 {
        padding-block: 10px;
        background-image: none;
    }
}

/* style the photo gallery iframe */

div.gallery {
    margin: auto;
    width: 535px;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
    pointer-events: none;
}

iframe.gallery {
    transform: scale(1.5);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 450px) {
    iframe.gallery {
        transform: scale(2)
    }
}

/* center sponsor elements */
#id_17,
#sponsorElements {
    height: 670px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sponsorElements {
    max-width: 650px;
    margin: auto;
}

#sponsorElements li {
    width: min-content;
}

#personalInfo {
    flex-direction: column;
    padding-inline: 10px;
    margin: auto;
    max-width: 875px;
}

#personalInfoInnerDiv {
    margin: auto;
}

@media screen and (max-width: 600px) {
    #sponsorElements li {
        padding: 10px;
    }

    #sponsorElements {
        height: 375px;
    }
}

#id_17 button {
    margin: 10px;
    padding: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
    background: none;
    border: solid 2px;
}

/* style header buttons */
.button a {
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 550px) {

    /* make the header buttons fit better on small screens */
    .button-spacer {
        color: transparent;
    }

    #text_22 {
        font-size: inherit;
    }
}

/* center the header buttons */
#text_22 {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #id_17 button {
        margin: 5px;
        padding: 5px;
    }

    #id_17 p {
        margin: 5px;
    }

    #id_17 {
        height: 300px;
    }
}

body {
    background-color: #838f7d;
}


/* style CTA to look like button, and space it farther from the header */
#cid_4 {
    text-align: center;
    max-width: 80%;
    margin: -20px auto 0;
}

#header_4 {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid;

    @media screen and (max-width: 600px) {
        padding: 15px;
    }
}

#header_4:hover,
#id_17 button:hover {
    background: #ebe6d8;
    transition: 0.5s;
    color: #85907d;
}

/* change the color of the text */
*:not(input, select),
.form-sub-label,
.form-all .label-message {
    color: #EBE6D8;
}

/* hide sponsorship section on load */
#sponsorElements,
#personalInfo,
#id_17 {
    display: none;
    transform: scale(0);
}

/* show them if there are errors and make sure content is readable */
#formContainer:has(#form-error) #sponsorElements,
#formContainer:has(#form-error) #personalInfo,
#formContainer:has(#form-error) #id_17 {
    display: flex;
    transform: scale(1);
}
.form-line-error * {
    color: red;
}

#form-error, .form-error-js {
    padding: 15px;
    font-size: 20px;
    background: #fbefe2;
}

/* make the form elements fade in */
@keyframes fade-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#cco_body .fadeIn {
    animation: fade-in 0.8s ease-in-out;
    transform: scale(1);
}

/* center the recaptcha */
.js-recaptcha-wrapper>div {
    margin: auto;
}

.button-align-auto {
    text-indent: initial !important;
}

/* hide footer and payment section title */
#label_13,
.footer {
    display: none;
}

/* align the footer pics to the bottom */
#id_20 {
    height: 200px;
    background-color: #FBEFE2;
    text-align: center;
    position: sticky;
    bottom: 0;
    margin: 80px 0 0 0;
}

.form-section {
    margin: 0;
}

#id_20 img {
    height: auto;
    max-width: min(250px, 50%);
}

#id_20 p {
    margin: 0;
}