/* Global CSS Updates */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto:wght@400;700&display=swap');
img {
  max-width: 100%;
}
.co_index .item {
  background: none;
}
div#chabad_main_content {
  width: 100%;
}
div#chabad_body_content {
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 100%;
}
.chabad_navigator_bar ul li a.arrow {
  background: url(https://www.chabadone.org/images/shluchim/minisites/down_triangle_black.gif)
    right 5px center no-repeat;
}
#chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  color: #ffffff;
  font-family: Domine;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 106px;
}
.section_root #chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  font-size: 70px;
  line-height: 70px;
  max-width: 360px;
}
div.chabad_left_colum,
div.chabad_left_column {
  width: 100%;
  float: none;
  margin: 0;
  padding: 0;
}
#chabad_body_content .article-body p {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
#chabad_body_content .article-body img {
  border-radius: 10px;
}
div.chabad_left_colum #co_body_container {
  width: 100%;
}
div#chabad_right_colum,
div.chabad_right_colum,
div.chabad_right_column {
  float: none;
  width: 100%;
  padding: 0 65px;
  display: none;
}
/* End Global */
/* Override Theme */
.co_body .content .form-all,
.co_body .content p,
.co_body h1,
.co_body h1 a,
.co_body h2,
.co_body h2 a,
.co_body h3,
.co_body h3 a,
.co_body h4,
.co_body h4 a,
.co_body h5,
.co_body h5 a,
.co_body h6,
.co_body h6 a,
.cps-container h1,
.cps-container h2,
.cps-container p,
.form-all,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
html body.cco_body,
html body.cco_body p,
i,
#chabad_body_page label,
#chabad_body_page li,
#chabad_body_page menu,
#chabad_body_page nav,
#chabad_body_page ol,
#chabad_body_page strong,
#chabad_body_page table,
u,
#chabad_body_page ul {
  font-family: Roboto;
}
#BodyContainer
  .no-hero-image
  #co_content_container
  .master-content-wrapper.master-content-wrapper {
  background: #fff !important;
  border-bottom: none;
  padding: 0;
}
/* End Theme */
/* Index Page */
.article_index_container .co_index.article_index .row .item .synopsis_icon {
  /* margin: auto auto 0; */
  margin-bottom: 0;
}
.article_index_container
  .co_index.article_index
  .row
  .item
  .synopsis_icon
  a.synopsis_icon {
  height: auto;
  border-radius: 8px 8px 0 0;
  padding-top: 0;
  margin-right: 0;
}
.article_index_container .co_index.article_index .row .item .item_contents {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.article_index_container .co_index.article_index .row .item {
  height: 100%;
}
.article_index_container
  .co_index.article_index.with_icons
  .row
  .item
  .item_contents
  .title {
  position: relative;
  background-color: #ffde17;
  border-radius: 0 0 8px 8px;
}
.article_index_container
  .co_index.article_index
  .row
  .item
  .synopsis_icon
  a.synopsis_icon
  img {
  mix-blend-mode: normal;
  /* position: static; */
  border-radius: 8px 8px 0 0;
}

/* No Main Site Header Index */
.article_index_container .co_index.article_index {
  display: flex;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.article_index_container .co_index.article_index .row {
  width: 33.33%;
  padding: 0 15px;
}
.article_index_container .co_index.article_index .row .item .synopsis_icon {
  float: none;
  border-radius: 8px 8px 0 0;
}
.article_index_container
  .co_index.article_index
  .row
  .item
  .synopsis_icon
  a.synopsis_icon
  img {
  width: 100%;
  height: 230px;
  /* object-fit: contain; */
  object-fit: cover;
  position: static;
  display: block;
  background-color: #27aae2;
}
.article_index_container
  .co_index.article_index.with_icons
  .row
  .item
  .item_contents
  .inner {
  position: relative;
  background-color: #ffde17;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}
.article_index_container
  .co_index.article_index.with_icons
  .row
  .item
  .item_contents
  .title {
  padding-top: 0;
  text-align: center;
}
.article_index_container
  .co_index.article_index.with_icons
  .row
  .item
  .item_contents
  .synopsis {
  padding-bottom: 30px;
  text-align: center;
}

.article_index_container .co_index.article_index .row .item .title a {
  position: static;
  color: #4a4a4a;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
  padding: 20px 20px 5px 20px;
  display: block;
}
.co_index .item .subtitle,
.co_index .item .subtitle a {
  text-align: center;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.article_index_container .co_index.article_index .row .item .title a:hover {
  background: none;
}
li,
p,
table {
  font-family: arial;
}
body.cco_templateless_page,
div#chabad_body_page {
  /* background: url(https://www.chabadone.org/images/shluchim/minisites/themes/hebrew_school/hebrew_background.png) left top repeat-x #EF3D23; */
  text-align: center;
}
.article-header__title,
div#chabad_body_content #cco_body #content_title {
  margin-top: 10px;
  font-size: 36px;
  font-family: Domine;
  font-weight: bold;
  text-align: center;
  color: #27aae2;
}
.article-header__subtitle {
  color: #4a4a4a;
  font-family: Domine;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  display: block;
}
#BodyContainer
  .no-hero-image
  #co_content_container
  .master-content-wrapper.master-content-wrapper
  .article-header
  .article-header__title {
  color: #27aae2;
}
div#chabad_main_content {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
}
#mobile_content {
  background: 0 0;
}
div#chabad_head .chabad_content_head {
  min-height: 315px;
  background: url(https://w2.chabad.org/media/images/1152/vlUT11522075.jpg) left
    top no-repeat;
  background-size: auto;
  text-align: center;
  background-position: center bottom;
}
.section_root div#chabad_head .chabad_content_head {
  min-height: 475px;
}
.mobile div#chabad_head .chabad_content_head {
  min-height: 400px;
}
.section_root div#chabad_head .chabad_content_head {
  min-height: 600px;
}
div#chabad_head .chabad_content_head table tr {
  display: flex;
  flex-direction: column;
}
div#chabad_head .chabad_logo {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}
div#chabad_head .chabad_logo h1 {
  margin: 0;
  padding: 0;
}
div#chabad_head .chabad_text_head {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Domine', serif;
  display: none;
}
.section_root div#chabad_head .chabad_text_head {
  display: block;
}
div#chabad_head .chabad_text_head p {
  color: #fff;
  font-family: 'Domine', serif;
  margin-top: 18px;
}
div#chabad_head .navLogo {
  left: 50%;
  position: absolute;
  max-width: 910px;
}
div#chabad_head .navLogo h1 {
  left: -424px;
  top: -105px;
  z-index: 2;
  position: absolute;
}
.section_root div#chabad_head .navLogo h1 {
  top: -141px;
}
div#chabad_head .navLogo h1 img {
  height: 57px;
  max-width: unset;
}
div#chabad_head .chabad_navigator_bar {
  position: relative;
  height: 85px;
  border-radius: 10px;
  background-color: #ffffff;
  bottom: 117px;
  max-width: 910px;
  margin: auto;
}
.section_root div#chabad_head .chabad_navigator_bar {
  bottom: 154px;
}
div#chabad_head .chabad_navigator_bar ul {
  margin: 0;
  padding: 0;
}
div#chabad_head .chabad_navigator_bar ul#menu {
  /* height: 34px; */
  line-height: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: start;
  margin-left: 131px;
}
div#chabad_head .chabad_navigator_bar ul li {
  color: #000;
  display: block;
  z-index: 2;
  /* font-family: 'Roboto', sans-serif; */
}
/*div#chabad_head .chabad_navigator_bar ul li.parent {
  position: relative
} */
div#chabad_head .chabad_navigator_bar ul li.active {
  z-index: 2;
}
div#chabad_head .chabad_navigator_bar ul li .sub_menu {
  background: #ffde17;
  top: 60px;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
}
div#chabad_head .chabad_navigator_bar ul li.active .sub_menu {
  display: block;
}
div#chabad_head .chabad_navigator_bar ul li ul {
  float: none;
}
div#chabad_head .chabad_navigator_bar ul li ul li {
  float: none;
  border-right: none;
  border-bottom: none;
  height: auto;
  min-height: 23px;
  margin-top: 3px;
}
div#chabad_head .chabad_navigator_bar ul li ul li:last-child {
  border: none;
}
div#chabad_head .chabad_navigator_bar ul li ul li a {
  font-size: 16px;
  padding: 2px 7px 0 12px;
  text-transform: none;
  font-weight: 400;
  display: block;
  float: none;
  height: auto;
  margin-bottom: 6px;
}
div#chabad_head .chabad_navigator_bar ul li ul li a:hover {
  background: 0 0;
  font-weight: bold;
}
div#chabad_head .chabad_navigator_bar ul li:last-child {
  border-right: none;
}
div#chabad_head .chabad_navigator_bar ul li a {
  color: #000;
  font-size: 16px;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 400;
}
div#chabad_head .chabad_navigator_bar ul li a {
  height: 35px;
}
div#chabad_head .chabad_navigator_bar ul li a.selected,
div#chabad_head .chabad_navigator_bar ul li a:hover,
div#chabad_head .chabad_navigator_bar ul li.active a.parent {
  color: #1aa0cc;
}
div#chabad_head .chabad_navigator_bar ul li a.first {
  padding-left: 0;
}
div#chabad_head .NavButton {
  position: absolute;
  top: -100px;
  right: -419px;
  z-index: 2;
}
.section_root div#chabad_head .NavButton {
  top: -136px;
}
div#chabad_head .NavButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #ffde17;
  border: navajowhite;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-family: Roboto;
}
div#chabad_head .flowers {
  /* background: url(https://sandbox-6.centers.clhosting.org/images/shluchim/minisites/themes/hebrew_school/hebrew_flowers.png) left top no-repeat; */
  height: 131px;
  margin-bottom: -47px;
  margin-left: 16px;
  margin-top: 14px;
  position: relative;
  width: 190px;
}
div#chabad_body_content {
  background: #fff;
  padding-bottom: 15px;
}
div#chabad_body_content #cco_body #PageTitle {
  margin-top: 10px;
  font-size: 22px;
  color: #ef3d23;
  border-bottom: #ef3d23 1px dotted;
  font-family: Georgia;
}
.chabad_banner_content .chabad_image_content {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
}
.chabad_banner_content .chabad_image_banner {
  overflow: hidden;
  width: 60%;
  max-height: 100%;
  position: relative;
}
.chabad_banner_content .chabad_image_banner::after {
  position: absolute;
  top: 0;
  left: 0;
  content: url('https://w2.chabad.org/images/shluchim/minisites/themes/hebrew_school/2.0/Mask-new.png');
}
.chabad_image_banner img {
  height: 100%;
  object-fit: cover;
  margin-top: 0;
  margin-left: 1px;
  border-radius: 25px;
}
.chabad_banner_content .chabad_text_banner {
  background-size: auto 100%;
  display: block;
  width: 40%;
  color: #4a4a4a;
}
.chabad_banner_content .chabad_text_banner div.chabad_welcome {
  position: relative;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 23px;
  padding: 15px 30px;
}
.chabad_banner_content .chabad_text_banner div.chabad_text_banner_description {
  margin-left: 23px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 26px;
  padding: 15px 30px;
}
.chabad_banner_content .chabad_text_banner div.WelcomeButton1 {
  margin-left: 23px;
  padding: 15px 30px;
}
.chabad_banner_content .chabad_text_banner div.WelcomeButton1 button {
  border-radius: 100px;
  background-color: #26aae2;
  border: none;
  height: 45px;
  width: 170px;
  font-size: 16px;
  font-family: Roboto;
  color: #fff;
}
/*.chabad_banner_content
  .chabad_text_banner
  div.chabad_text_banner_description
  p {
  font-family: Roboto; 
}*/
.chabad_banner_content .chabad_text_banner a.chabad_more_button {
  border-radius: 100px;
  background-color: #27aae2;
  border: #27aae2;
  height: 46px;
  width: 170px;
  font-size: 15px;
  font-family: Roboto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53px;
  float: left;
}
div#chabad_left_colum .content_page_full,
div.chabad_left_colum .content_page_full {
  overflow: hidden;
}

.FlyersContainer {
  display: flex;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.FlyersContainer .sPromo-wrap {
  width: 50%;
  padding: 0 15px;
  text-align: center;
}

.FlyersContainer .sPromo-wrap img {
  height: 380px;
  width: 380px;
  object-fit: cover;
  border-radius: 10px;
}
.FlyerButton1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #f285a5;
  border: #f285a5;
  height: 46px;
  width: 170px;
  font-size: 15px;
  font-family: Roboto;
  color: #fff;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

div#chabad_left_colum .chabad_box_content_first,
div#chabad_left_colum .chabad_box_content_second,
div#chabad_left_colum .chabad_box_content_third {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
div#chabad_left_colum .chabad_box_content_second .chabad_title_box,
div#chabad_left_colum .chabad_box_content_third .chabad_title_box {
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 25px;
}
div#chabad_left_colum .chabad_box_content_second .chabad_title_box div,
div#chabad_left_colum .chabad_box_content_third .chabad_title_box div {
  font-family: Domine;
  font-size: 36px;
}
div#chabad_left_colum .chabad_box_content_first {
  background-color: #ffde17;
  padding: 75px;
  background-image: url(https://w2.chabad.org//images/shluchim/minisites/themes/hebrew_school/2.0/bg-yellow.jpg);
  margin-bottom: 0;
}
div#chabad_left_colum .chabad_box_content_first .ContentBox1Button a {
  border-radius: 100px;
  background-color: #26aae2;
  border: #26aae2;
  height: 40px;
  width: 125px;
  font-size: 15px;
  font-family: Roboto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
div#chabad_left_colum .chabad_box_content_first .AboutSubtitle {
  text-align: center;
  font-family: Domine;
  font-size: 22px;
  margin-bottom: 25px;
}
div#chabad_left_colum .chabad_box_content_first .ContentBox1Button {
  text-align: center;
}
#content_banner {
  margin-bottom: 50px;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
}
div#chabad_left_colum .chabad_box_content_first .chabad_text_box div,
div#chabad_left_colum .chabad_box_content_first .chabad_text_box p,
div#chabad_left_colum .chabad_box_content_second .chabad_text_box div,
div#chabad_left_colum .chabad_box_content_second .chabad_text_box p,
div#chabad_left_colum .chabad_box_content_third .chabad_text_box div,
div#chabad_left_colum .chabad_box_content_third .chabad_text_box p {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 30px;
}
div#chabad_left_colum .chabad_box_content_first .chabad_text_box,
div#chabad_left_colum .chabad_box_content_second .chabad_text_box,
div#chabad_left_colum .chabad_box_content_third .chabad_text_box {
  max-width: 615px;
  margin: 0 auto;
}
div#chabad_left_colum .chabad_box_content_first .chabad_title_box {
  color: #27aae2;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 25px;
}
div#chabad_left_colum
  .chabad_box_content_first
  .chabad_title_box
  div.big_title {
  font-family: Domine;
  font-size: 36px;
}
.chabad_box_content_head {
  overflow: hidden;
}
div#chabad_left_colum .chabad_box_content_third .chabad_box_content_head {
  height: 11px;
  overflow: hidden;
}
.chabad_box_content_body,
div#chabad_left_colum .chabad_box_content_second .chabad_box_content_body,
div#chabad_left_colum .chabad_box_content_third .chabad_box_content_body {
  overflow: hidden;
}
.chabad_box_gradient {
  margin-left: 4px;
}
.chabad_announce {
  margin-left: 10px;
  margin-top: 10px;
  color: #4a4a4a;
}
.chabad_title_box div.big_title,
.chabad_title_box div.medium_title {
  text-transform: uppercase;
  margin-top: 0;
  /* color: #97AF13; */
  font-family: arial;
  margin-bottom: 0;
}
.chabad_title_box {
  /* background: url(https://www.chabadone.org/images/shluchim/minisites/themes/hebrew_school/hebrew_title_box_layout.png) right center no-repeat; */
  padding-bottom: 10px;
}
.chabad_title_box.no_line {
  /* background: url(https://www.chabadone.org/images/shluchim/minisites/themes/hebrew_school/hebrew_title_box_layout.png) right 8px no-repeat; */
  padding-bottom: 5px;
}
.chabad_title_box div.big_title {
  /* background: url(https://www.chabadone.org/images/shluchim/minisites/themes/hebrew_school/hebrew_arrow_quote.png) left 8px no-repeat; */
  font-size: 20px;
  /* padding-left: 24px; */
  padding-top: 3px;
}
.chabad_title_box div.medium_title {
  background: 0 0;
  font-size: 18px;
}
.chabad_text_box .gray,
.chabad_text_box div,
.chabad_text_box div.blue,
.chabad_text_box span {
  font-size: 14px;
  line-height: 18px;
  /* font-family: 'Roboto', sans-serif; */
}
.chabad_text_box span.black,
.chabad_text_box span.bold,
.chabad_text_box span.gray {
  display: block;
}
.chabad_text_box .black {
  /* color: #00A0C6; */
  font-weight: 700;
}
.chabad_text_box .gray {
  color: #858585;
  margin-top: 8px;
}
.chabad_text_box div,
.chabad_text_box span {
  color: #4a4a4a;
  margin-top: 8px;
  margin-bottom: 0;
}
.chabad_text_box div.blue {
  color: #00a0c6;
  font-weight: 700;
}
#chabad_right_colum > div {
  border-radius: 15px;
  padding-top: 10px;
}
div#co_photo_gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background: #fff;
  border-radius: 15px;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
}
.co_photo_gallery_body div.co_photo_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.co_photo_gallery_body .co_photo_gallery a {
  width: 305px;
  padding: 0 15px;
  height: 250px;
}
div#co_photo_gallery .co_photo_gallery_head {
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
  color: #f285a5;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Domine', serif;
  letter-spacing: 0;
  line-height: 28px;
  text-shadow: none;
  text-transform: none;
  margin-bottom: 40px;
  margin-top: 30px;
}
div#co_photo_gallery .co_photo_gallery_head div {
  font-family: 'Domine', serif;
}
div#co_photo_gallery .co_photo_gallery_body {
  overflow: hidden;
}
div#co_photo_gallery
  .co_photo_gallery_body
  .co_photo_gallery_gradient
  .co_photo_gallery_title {
  margin-left: 15px;
}
div#co_photo_gallery
  .co_photo_gallery_body
  .co_photo_gallery_gradient
  .co_photo_gallery {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
}
div#co_photo_gallery
  .co_photo_gallery_body
  .co_photo_gallery_gradient
  .co_photo_gallery
  a {
  border-radius: 10px;
}
div#co_photo_gallery
  .co_photo_gallery_body
  .co_photo_gallery_gradient
  .co_photo_gallery
  a
  img {
  border: none;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
div#co_photo_gallery .co_photo_gallery_footer a {
  margin-left: auto;
  margin-right: auto;
  float: none;
  border-radius: 100px;
  background-color: #f285a5;
  border: #f285a5;
  height: 46px;
  width: 170px;
  font-size: 15px;
  color: #fff;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.FooterContainer {
  background-image: url(https://w2.chabad.org//images/shluchim/minisites/themes/hebrew_school/2.0/bg-pink.jpg);
  padding: 55px 15px 55px 15px;
  text-align: center;
  color: #4a4a4a;
  font-family: Domine;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 52px;
}
.FooterContainer .FooterText {
  font-family: Domine;
  max-width: 550px;
  margin: 0 auto 25px auto;
}
.FooterContainer .FooterButton1 a {
  border-radius: 100px;
  background-color: #26aae2;
  border: #26aae2;
  height: 46px;
  width: 171px;
  font-size: 15px;
  font-family: Roboto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
div#chabad_updates {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div#chabad_updates .chabad_updates_body .chabad_updates_gradient {
  margin-left: 1px;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_title {
  /* background: url(https://sandbox-6.centers.clhosting.org/images/shluchim/minisites/themes/hebrew_school/hebrew_logo_box_content.png) 100px top no-repeat; */
  height: 60px;
  margin-left: 15px;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text {
  margin-left: 20px;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text
  ul {
  margin: 0;
  padding: 0;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text
  .item {
  display: block;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text
  .item:last-child {
  border-bottom: none;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text
  .item
  div.chabad_title_update {
  color: #ff0;
  font-family: arial;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
div#chabad_updates
  .chabad_updates_body
  .chabad_updates_gradient
  .chabad_updates_text
  .item
  div.chabad_text_update {
  color: #fff;
  font-family: arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.ProgramsContainer {
  margin: 70px 0;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
}
.ProgramsContainer .TitlesContainer {
  margin-bottom: 80px;
  color: #4a4a4a;
  font-family: Domine;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.ProgramsContainer .ProgramsTitle {
  color: #26aae2;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: none;
  font-family: 'Domine', serif;
}
.ProgramsContainer .ProgramsSubtitle {
  font-family: 'Domine', serif;
}
.ProgramsContainer .CardsContainer {
  display: flex;
}
.ProgramsContainer .CardsContainer .Yellow,
.ProgramsContainer .CardsContainer .Blue,
.ProgramsContainer .CardsContainer .Pink {
  padding: 0 15px;
}

.ProgramsContainer .CardsContainer .Yellow .CardBackground1 {
  padding: 25px;
  border-radius: 10px;
  background-color: #ffde17;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  height: 100%;
}
.ProgramsContainer .CardsContainer .Blue .CardBackground2 .ProgramButton2 a,
.ProgramsContainer .CardsContainer .Pink .CardBackground3 .ProgramButton3 a {
  display: inline-block;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 11px 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  border-radius: 100px;
}
.ProgramsContainer .CardsContainer .Yellow .CardBackground1 .ProgramButton1 a {
  display: inline-block;
  border: 1px solid #4a4a4a;
  background-color: transparent;
  color: #4a4a4a;
  padding: 11px 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  border-radius: 100px;
}
.ProgramsContainer .Yellow .icon1,
.ProgramsContainer .Blue .icon2,
.ProgramsContainer .Pink .icon3 {
  margin-bottom: 20px;
  margin-top: -77px;
  background-color: white;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.ProgramsContainer .Pink .icon3 img {
  height: 46px;
  filter: invert(85%) sepia(16%) saturate(7499%) hue-rotate(295deg)
    brightness(100%) contrast(91%);
}
.ProgramsContainer .Blue .icon2 img {
  height: 46px;
  filter: invert(77%) sepia(65%) saturate(4070%) hue-rotate(166deg)
    brightness(88%) contrast(101%);
}
.ProgramsContainer .Yellow .icon1 img {
  height: 46px;
  filter: invert(100%) sepia(50%) saturate(5514%) hue-rotate(336deg)
    brightness(99%) contrast(103%);
}
.ProgramsContainer .CardsContainer .Yellow .YellowHeader {
  color: #4a4a4a;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
.ProgramsContainer .CardsContainer .Yellow .YellowSubHeader {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ProgramsContainer .CardsContainer .Blue .CardBackground2 {
  padding: 25px;
  border-radius: 10px;
  background-color: #27aae2;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  height: 100%;
}
.ProgramsContainer .CardsContainer .Blue .BlueHeader {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
.ProgramsContainer .CardsContainer .Blue .BlueSubHeader {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.ProgramsContainer .CardsContainer .Pink .CardBackground3 {
  padding: 25px;
  border-radius: 10px;
  background-color: #f285a5;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  height: 100%;
}
.ProgramsContainer .CardsContainer .Yellow .CardBackground1 .ProgramButton1,
.ProgramsContainer .CardsContainer .Pink .CardBackground3 .ProgramButton3,
.ProgramsContainer .CardsContainer .Blue .CardBackground2 .ProgramButton2 {
  margin-top: 25px;
}
.ProgramsContainer .CardsContainer .Pink .PinkHeader {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
.ProgramsContainer .CardsContainer .Pink .PinkSubHeader {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

div#co_calendar {
  padding-top: 17px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #27aae2;
  padding: 50px;
  background-image: none;
}
.chabad_updates_head,
.co_calendar_head,
.co_photo_gallery_head,
.co_section_head {
  text-indent: 10px;
  text-shadow: 2px 0 0 #c63b2c;
  text-shadow: -1px -1px 0 #c63b2c, 1px -1px 0 #c63b2c, -1px 1px 0 #c63b2c,
    1px 1px 0 #c63b2c;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
  color: #fff;
}
.co_calendar_head {
  color: #ffde17;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: none;
}
.co_calendar_head div {
  font-family: 'Domine', serif;
}
.co_calendar_body {
  background-color: #fff;
  border-radius: 10px;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
}
div#co_calendar .co_calendar_body .co_calendar_gradient {
  margin-left: 1px;
}
div#co_calendar .co_calendar_body .co_calendar_gradient .co_calendar_title {
  /* background: url(https://sandbox-6.centers.clhosting.org/images/shluchim/minisites/themes/hebrew_school/hebrew_logo_box_content.png) 100px top no-repeat; */
  height: 60px;
  margin-left: 15px;
}
div#co_calendar .co_calendar_body .co_calendar_gradient .co_calendar_text {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}
div#co_calendar .co_calendar_body .co_calendar_gradient .co_calendar_text ul {
  margin: 0;
  padding: 0;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item {
  color: #fff;
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffde17 !important;
  width: 47%;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  a {
  color: #000;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  div.item
  .image {
  padding-right: 5px;
  padding-bottom: 3px;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  div.co_title_calendar {
  clear: both;
  color: #ff0;
  font-family: arial;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  div.co_date {
  color: #4a4a4a;
  font-family: arial;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item
  div.co_text_calendar {
  color: #fff;
  font-family: arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
div#co_calendar .co_calendar_footer {
  height: 7px;
  overflow: hidden;
}
div.co_section {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.co_section .co_section_head {
  height: 33px;
}
div.co_section .co_section_head .co_text_section_head {
  border-bottom: 1px solid #7e520c;
  height: 20px;
  margin-left: 10px;
  margin-top: 8px;
  padding-bottom: 2px;
  padding-left: 5px;
}
div.co_section .co_section_body {
  padding-bottom: 15px;
}
div.co_section .co_section_body .co_section_gradient {
  margin-left: 1px;
}
div.co_section .co_section_body .co_section_gradient .co_section_title {
  /* background: url(https://sandbox-6.centers.clhosting.org/images/shluchim/minisites/themes/hebrew_school/adult_education_logo_box_content.png) 100px top no-repeat; */
  height: 60px;
  margin-left: 15px;
}
div.co_section .co_section_body .co_section_gradient .co_section_text {
  margin-left: 15px;
  position: relative;
  text-align: left;
}
div.co_section .co_section_body .co_section_gradient .co_section_text ul {
  margin: 0;
  padding: 0;
}
div.co_section .co_section_body .co_section_gradient .co_section_text .item {
  display: block;
  margin-top: 5px;
  padding-bottom: 5px;
}
div.co_section
  .co_section_body
  .co_section_gradient
  .co_section_text
  .item
  span {
  color: #ff0;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  margin-right: 3px;
  padding: 0;
}
div.co_section .co_section_body .co_section_gradient .co_section_text .item a {
  color: #fff;
  font-family: arial;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
div#chabad_box_text .chabad_box_text_body {
  margin-left: 1px;
  border-radius: 15px;
}
div#chabad_box_text .chabad_box_text_body .chabad_box_text_gradient {
  margin-left: 1px;
}
div#chabad_box_text
  .chabad_box_text_body
  .chabad_box_text_gradient
  .chabad_box_text_title {
  /* background: url(https://sandbox-6.centers.clhosting.org/images/shluchim/minisites/themes/hebrew_school/adult_education_logo_box_content.png) 100px top no-repeat; */
  height: 60px;
  margin-left: 15px;
}
div#chabad_box_text
  .chabad_box_text_body
  .chabad_box_text_gradient
  .chabad_box_text_comment {
  margin-left: 15px;
  position: relative;
  text-align: left;
}
div#chabad_box_text
  .chabad_box_text_body
  .chabad_box_text_gradient
  .chabad_box_text_comment
  ul {
  margin: 0;
  padding: 0;
}
div#chabad_box_text
  .chabad_box_text_body
  .chabad_box_text_gradient
  .chabad_box_text_comment
  .item {
  display: block;
  margin-top: 5px;
  padding-bottom: 5px;
}
div#chabad_box_text
  .chabad_box_text_body
  .chabad_box_text_gradient
  .chabad_box_text_comment
  .item
  div {
  color: #fff;
  font-family: arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
div#chabad_footer {
  margin: auto;
  height: 35px;
}
.chabad_left_colum p {
  font-family: arial;
}
.Title p,
p.Title {
  margin-top: 10px;
  font-size: 22px;
  color: #ef3d23;
  border-bottom: #ef3d23 1px dotted;
  font-family: Georgia;
  font-weight: 700;
}
.SubTitle p,
p.SubTitle {
  font-size: 17px;
  color: #ef3d23;
  font-family: Georgia;
  font-weight: 700;
}
.Small_Uppercase p,
p.Small_Uppercase {
  font-size: 12px;
  color: #ef3d23;
  font-family: Georgia;
  text-transform: uppercase;
}
.Pull_Quotes p,
P.Pull_Quotes {
  font-size: 17px;
  color: #ef3d23;
  font-family: Georgia;
  width: 170px;
  border-bottom: #ef3d23 1px dotted;
  float: right;
  text-align: right;
  margin: 15px;
  font-style: italic;
}
#content_page {
  max-width: 975px;
  margin: 0 auto;
}

/* New Section 3 */

div#chabad_left_colum .chabad_box_content_third {
  background-color: #4a4a4a17;
  padding: 50px 15px;
  margin-top: 0;
}
div#chabad_left_colum
  .chabad_box_content_third
  .chabad_title_box
  .medium_title {
  color: #27aae2;
  font-size: 36px;
}
div#chabad_left_colum .chabad_box_content_third .chabad_text_box {
  border: 3px solid #27aae2;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 50px 75px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-family: Domine;
  max-width: 850px;
}
div#chabad_left_colum .chabad_box_content_third .chabad_title_box {
  margin-bottom: 40px;
}

.cco_templateless_template {
  background: #4a4a4a;
}
.cco_templateless_template a {
  font-family: 'Roboto';
  font-weight: normal;
}

/* media queries */
body.mobile #chabad_head .chabad_content_head {
  display: block;
  height: 530px;
}
/* Global CSS Updates */
body.mobile #chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  font-size: 50px;
  line-height: 50px;
}
body.mobile div#chabad_head .chabad_text_head {
  display: none;
}
body.mobile.section_root div#chabad_head .chabad_text_head {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body.mobile div#chabad_head .chabad_logo {
  margin-bottom: 15px;
  padding-top: 236px;
}
body.mobile div#chabad_head .chabad_navigator_bar {
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
  position: relative;
  z-index: 1;
  height: 90px;
}
body.mobile div#chabad_head .chabad_navigator_bar ul#menu {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0 2px 8px 0;
}
body.mobile .navLogo .chabad_navigator_bar #menu .item.heading {
  padding-right: 20px;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.mobile .navLogo #navigation.chabad_navigator_bar #menu li:not(.heading) {
  text-align: center;
}
body.mobile div.chabad_left_colum,
div.chabad_left_column {
  padding: 0;
}
body.mobile div.chabad_left_colum #co_body_container {
  padding: 10px;
}
body.section_root div.chabad_left_colum #co_body_container {
  padding-left: 0;
  padding-right: 0;
}
body.mobile div#chabad_right_colum,
body.mobile div.chabad_right_colum,
body.mobile div.chabad_right_column {
  padding: 0;
}
/* No Main Site Header Index */
body.mobile .article_index_container .co_index.article_index {
  flex-direction: column;
}
body.mobile .article_index_container .co_index.article_index .row {
  width: 100%;
  padding: 0 15px;
}
body.mobile div#chabad_head {
  margin-bottom: 40px;
  z-index: 4;
}
body.mobile div#chabad_head .chabad_content_head {
  background: url(https://w2.chabad.org/media/images/1152/vlUT11522075.jpg)
    center/cover no-repeat;
  /* background-size: auto 100%; 
 min-height: 0;
 min-height: 540px;*/
}
body.mobile div#chabad_head .chabad_logo h1 a {
  float: none;
  display: block;
  width: auto;
  margin: 0 7px;
}
body.mobile div#chabad_head .navLogo {
  z-index: 2;
}
body.mobile div#chabad_head .navLogo h1 {
  z-index: 3;
  left: -155px;
}
body.mobile div#chabad_head .chabad_navigator_bar ul li .sub_menu {
  top: 36px;
}
body.mobile div#chabad_head .NavButton {
  display: none;
}
body.mobile.section_root div#chabad_head .NavButton {
  transform: translate(-50%, -50%);
  right: unset;
  top: -101px;
  margin: auto;
  display: block;
}
body.mobile .chabad_banner_content .chabad_image_content {
  flex-direction: column;
  height: auto;
  align-items: center;
}
body.mobile .chabad_banner_content .chabad_text_banner {
  float: none;
  width: 100%;
}
body.mobile .chabad_banner_content .chabad_text_banner div.chabad_welcome {
  text-align: center;
}
body
  .chabad_banner_content
  .chabad_text_banner
  div.chabad_text_banner_description {
  padding: 15px 20px;
}
body.mobile .chabad_banner_content .chabad_text_banner a.chabad_more_button {
  float: none;
  margin: 0 auto;
}
body.mobile .FlyersContainer {
  padding: 0 15px;
  position: relative;
}
body.mobile .FlyersContainer .sPromo-wrap {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
body.mobile .FlyerButton1 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
body.mobile div#chabad_left_colum .chabad_box_content_first {
  padding: 30px;
  background-image: none;
}
body.mobile .chabad_announce {
  float: none;
}
body.mobile .chabad_text_box {
  float: none;
  padding: 0 20px;
}
body.mobile div#co_photo_gallery .co_photo_gallery_head {
  font-size: 28px;
}
body.mobile div#co_photo_gallery .co_photo_gallery_body {
  padding: 0;
}
body.mobile div#co_photo_gallery .co_photo_gallery_footer a {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
}
body.mobile .FooterContainer {
  font-size: 36px;
  line-height: 46px;
}
body.mobile .ProgramsContainer {
  padding: 0 15px;
}
body.mobile .ProgramsContainer .CardsContainer .Yellow,
body.mobile .ProgramsContainer .CardsContainer .Blue {
  margin-bottom: 70px;
}
body.mobile div#co_calendar {
  padding: 35px 5px;
}
body
  div#co_calendar
  .co_calendar_body
  .co_calendar_gradient
  .co_calendar_text
  .item {
  width: 100% !important;
}
body.mobile div#co_calendar .co_calendar_footer {
  height: auto;
}
body.mobile div#chabad_updates,
body.mobile div#co_calendar,
body.mobile div#co_photo_gallery,
body.mobile div.co_section {
  display: block;
  width: auto;
}
body.mobile #content > .wrapper,
body.mobile #footer > .wrapper,
body.mobile #header > .wrapper {
  padding: 0;
}
/* New Section 3 */
div#chabad_left_colum .chabad_box_content_third .chabad_text_box {
  padding: 20px 15px;
  font-size: 16px;
}

body.mobile.section_root div#chabad_head .chabad_navigator_bar {
  top: -545px;
}
body.mobile div#chabad_head .chabad_navigator_bar {
  top: -361px;
}
.section_root body.mobile div#chabad_head .chabad_navigator_bar {
  top: -400px;
}
#chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  padding-top: 76px;
}
.section_root #chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  padding-top: 105px;
}
body.mobile div#chabad_head .chabad_navigator_bar {
  top: -345px;
}
.section_root body.mobile div#chabad_head .chabad_navigator_bar {
  top: -400px;
}
body.mobile div#chabad_head .navLogo h1 {
  top: -330px;
}
.section_root body.mobile div#chabad_head .navLogo h1 {
  top: -530px;
}
body.mobile .chabad_navigator_bar .chabad_menu_content {
  width: 235px;
  height: 85px;
  margin: auto 23px auto auto;
}

body.mobile div#chabad_head .chabad_navigator_bar ul#menu {
  top: 26px;
  box-shadow: none !important;
}
body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading) {
  padding: 0 10px 0 0;
}
div#chabad_head .chabad_navigator_bar ul li a:not(.sub_menu_toggle) {
  height: auto;
  color: #4a4a4a;
}

div#chabad_head .chabad_navigator_bar ul li a {
  font-weight: bold;
}

.chabad_banner_content .chabad_image_banner::after {
  height: 100%;
  width: 100%;
  object-fit: cover;
  content: '';
  background: url('https://w2.chabad.org/images/shluchim/minisites/themes/hebrew_school/2.0/Mask-new.png')
    no-repeat center / cover;
}

body.mobile .chabad_navigator_bar #menu .item.heading {
  background: white;
}

.clearfix.bh-only.align_right {
  top: 1px;
}

body.mobile .chabad_navigator_bar #menu .item.heading a {
  position: relative;
  right: -56px;
}

body.mobile .chabad_banner_content .chabad_text_banner div.chabad_welcome {
  margin-top: 20px;
}

body.mobile div#chabad_head {
  margin-bottom: -35px;
}

div#co_calendar .co_calendar_body .co_calendar_gradient {
  max-height: 500px;
  overflow: auto;
}
.cco_templateless_template {
  background: #4a4a4a;
}

.cco_templateless_template a {
  font-family: 'Roboto';
  font-weight: normal;
}

.mobile #chabad_head .chabad_content_head .chabad_titles .HeaderTitle {
  padding-top: 69px;
}
.mobile
  .section_root
  #chabad_head
  .chabad_content_head
  .chabad_titles
  .HeaderTitle {
  padding-top: 75px;
}
.mobile p.HeaderTitle {
  margin-top: 139px !important;
}

.mobile .chabad_banner_content .chabad_image_banner::after {
  height: 100%;
  width: 100%;
  object-fit: cover;
  content: '';
  background: url('https://w2.chabad.org/images/shluchim/minisites/themes/hebrew_school/2.0/Mask-new.png')
    no-repeat center / cover;
}

.mobile .clearfix.bh-only.align_right {
  top: 1px;
}

.mobile div#co_calendar .co_calendar_body .co_calendar_gradient {
  max-height: 500px;
  overflow: auto;
}
.mobile .ProgramsContainer .CardsContainer {
  flex-direction: column;
}
.mobile div#chabad_head .chabad_navigator_bar ul#menu {
  margin-left: -20px;
}
.mobile div#chabad_head .chabad_navigator_bar ul#menu {
  height: auto;
}