#Header :is(div, p, span) {
 font-family: 'Waymar', Conv_Poly-Italic, sans-serif !important;
 color: #38598d;
}

#Header img {
 width: 100%;
 height: auto;
 padding: 0;
}

.inline {
 display: inline;
}

#co_ads_container {
 display: none!important;
}

#co_body_container {
 padding-top: 25px;
 padding-bottom: 25px;
}