#Header :is(div, p, span) {
	font-family: "Waymar", Conv_Poly-Italic, sans-serif !important;
	color: #38598d;
}

#Header img {
	width: 100%;
	height: auto;
	padding: 0;
}

.inline {
	display: inline;
}

#co_ads_container {
	display: none !important;
}

#co_body_container {
	padding-top: 25px;
	padding-bottom: 25px;
}

.frame {
	filter: hue-rotate(168deg);
}

.frame-pic-container {
	filter: hue-rotate(-168deg);
}

#navigation.chabad_navigator_bar #menu {
	display: flex;
	justify-content: center;
}

.comitee,
.comitee :is(span, p, div) {
	font-family: "Montserrat", sans-serif !important;
}

.comitee {
	margin: auto;
	width: auto;
}

body :has(.comitee) .co_body .content p {
	margin: 0;
	font-family: "Montserrat", sans-serif !important;
	letter-spacing: 3px;
}

.co_body .content .SCHeading_2,
.co_body h2,
.form-header-group h2,
.co_body .content .SCHeading_3,
.co_body h3,
.form-header-group h3 {
	color: #3e4f82;
}

.co_body .content .form-all .form-submit-button {
	background: #1a73e8;
	border-bottom: 2px solid #3e4f82;
}

.co_body .content .form-all .form-submit-button:focus,
.co_body .content .form-all .form-submit-button:hover {
	background: #105689;
	border-color: #0a3459;
}

tr.committee-members td, .board-members {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 6px;
	padding-block: 16px;
}
