#header_container.header_container {
 display: none;
}
#BodyContainer #co_content_container>.clearfix>.g960 {
 background-image: url(https://w2.chabad.org/media/images/1218/NjZM12180645.jpg?rnd=1) !important;
}
.fc-homepage-boxes [class^="widget-"].chabad_updates .item .icon a[href="/5559286"] img {
object-position: 0 27%;
}