#header_container .links .float_right+.float_left .topBarLink:last-child:after{color:#257071}
#header.on-scroll #header_container .links:after,body.sites-article #header_container .links:after{color:#41bb80}
#header_container .links .topBarLink:before{color:#257071}
#header.on-scroll #header_container .links .topBarLink,#header.on-scroll #header_container .links .topBarLink a,body.sites-article #header_container .links .topBarLink,body.sites-article #header_container .links .topBarLink a{color:#41bb80}
#header.on-scroll #header_container .links .search-trigger-container .search-trigger,body.sites-article #header_container .links .search-trigger-container .search-trigger{color:#41bb80}
#header_container .links .cco_search_header #MainSearchForm{border:1px solid #257071}
#header_container .links #HeaderSubscribeContainer a,#header_container .links .subscribe_box .footer_box a{color:#41bb80}
#header.on-scroll #header_container .links .top_bar_item:after,body.sites-article #header_container .links .top_bar_item:after{border-top:5px solid #41bb80}
#header_container .links #HeaderSubscribeContainer{border-bottom-color:#41bb80}
#header_container .links .subscribe_box .co_global_submit .button{border-color:#257071}
#header.on-scroll .branding-search #header_branding .site_title,body.sites-article .branding-search #header_branding .site_title{color:#257071}
body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item,body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span,body #header.on-scroll .cco_body #tabContentMain .donate_link,body #header.on-scroll body #tabContentMain .co_menu_item span.parent,body #header.on-scroll body #tabContentMain .co_menu_item span.parent a,body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent,body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent a,body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent,body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent a,body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent,body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent a,body #header.on-scroll body.cco_body #tabContentMain .co_submenu_container .co_column a,body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent,body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent a,body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item,body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span,body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent,body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent a,body.cco_body #header.on-scroll #tabContentMain .co_submenu_container .co_column a,body.cco_body #header.on-scroll #tabContentMain .donate_link,body.cco_body.sites-article #tabContentMain .co_menu_item span.parent,body.cco_body.sites-article #tabContentMain .co_menu_item span.parent a,body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item,body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span,body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent,body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent a,body.cco_body.sites-article #tabContentMain .co_submenu_container .co_column a,body.cco_body.sites-article #tabContentMain .donate_link,body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item,body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span,body.sites-article .cco_body #tabContentMain .donate_link,body.sites-article body #tabContentMain .co_menu_item span.parent,body.sites-article body #tabContentMain .co_menu_item span.parent a,body.sites-article body #tabContentMain .co_menu_item.hover span.parent,body.sites-article body #tabContentMain .co_menu_item.hover span.parent a,body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent,body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent a,body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent,body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent a,body.sites-article body.cco_body #tabContentMain .co_submenu_container .co_column a{color:#41bb80}
body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a,body.cco_body #tabContentMain .co_menu_item.donate_link.hover span.parent a{border:2px solid #257071}
.dir_ltr .co_menu_item.multi_level .co_submenu_container .menu_child.selected,.dir_rtl .co_menu_item.multi_level .co_submenu_container.reversed .menu_child.selected{border-top-color:#8bd7b2}
.dir_ltr .co_menu_item.multi_level .co_submenu_container.reversed .menu_child.selected,.dir_rtl .co_menu_item.multi_level .co_submenu_container .menu_child.selected{border-top-color:#8bd7b2}
.co_menu_item.multi_level .co_submenu_container a.item.hover span,.co_menu_item.multi_level .co_submenu_container a.item:hover span{color:#41bb80!important}
.co_menu_item .co_submenu_container .child_item.heading{color:#257071}
body.cco_body #tabContentMain .co_menu_item.multi_level .co_submenu_container{border-top-color:#41bb80}
#tabContentMain .co_menu_item.multi_level:before{border-bottom:8px solid #41bb80}
body.cco_body #tabContentMain .co_menu_item.hover span.parent a{color:#8bd7b2}
body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent a,body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent a{color:#276f4c}
body.cco_body #tabContentMain .co_menu_item.selected span.parent a{color:#349566}
body.cco_body #tabContentMain .co_menu_item.selected a.parent:after{background:#41bb80}
body.cco_body #tabContentMain .co_menu_item.selected.hover a.parent:after{background:#8bd7b2}
body.cco_body #header.on-scroll #tabContentMain .co_menu_item.selected.hover a.parent:after,body.cco_body.sites-article #tabContentMain .co_menu_item.selected.hover a.parent:after{background:#276f4c}
.cco_body #tabContentMain .donate_link a{border:2px solid #257071}
.cco_body #tabContentMain .donate_link a:hover{color:#257071}
.article-header__title,.content_title_container .content_title,.content_title_container h1{color:#257071}
.header-title{color:#257071}
#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) .article-header .breadcrumbs .breadcrumbs__crumb,#BodyContainer #co_content_container>.clearfix>.g960:not(.categorized) .article-header .breadcrumbs .breadcrumbs__divider{color:#257071}
#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper .article-header .breadcrumbs .breadcrumbs__crumb,#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper .article-header .breadcrumbs .breadcrumbs__divider{color:#41bb80}
#BodyContainer .no-hero-image #co_content_container .master-content-wrapper.master-content-wrapper .article-header .article-header__title{color:#257071}
.co_local_menu .item .item_sub.selected a{color:#41bb80}
.secondary_navigation .header{color:#257071}
#co_ads_container .lt_blue,#co_ads_container .lt_blue a{color:#41bb80}
.Content_Title,.co_body .content .Content_Title,.co_body .content .SCHeading_1,.co_body h1,.form-header-group h1{color:#257071}
.co_body .content .Content_Large,.co_body .content .SCHeading_2,.co_body h2,.form-header-group h2{color:#41bb80}
.co_body .content .SCHeading_3,.co_body h3,.form-header-group h3{color:#41bb80}
.co_global_button .button,.co_global_submit .button{background:#41bb80}
.co_global_button .button:focus,.co_global_button .button:hover,.co_global_submit .button:focus,.co_global_submit .button:hover{background:#349566}
.co_global_button.yellow .button{background:#257071}
.co_global_button.yellow .button:focus,.co_global_button.yellow .button:hover{background:#184a4b}
#lightbox-wrapper #lightbox #details-panel{background:#41bb80}
#co_ads_container #customizable_promos .sneak_peek[class*=widget-] .widget_content h6:hover{background:rgba(65,187,128,.6)}
.ribbon-wrapper .ribbon{background-color:#41bb80}
.chabad_updates .widget_header.widget_header h5,[class*=widget-] .widget_header.widget_header h5{color:#257071}
.hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore{border:2px solid #257071}
.hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore:hover{background:#257071}
.hp-table .hp-row-first .promo_slider .slider .cycle-caption big{color:#257071}
.banner .widget_content.index_format .item{background:#8bcf52;background:-moz-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:-webkit-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:linear-gradient(135deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aed73d", endColorstr="#68c868", GradientType=1)}
.banner .widget_content.index_format .item .readMore,.message .wrapper .widget_content .readMore{border:2px solid #257071}
.banner .widget_content.index_format .item .readMore:hover{background:#257071}
.message .wrapper .widget_content .item .title,.message .wrapper .widget_content .item .title a{color:#257071}
.message .wrapper .widget_content .readMore{color:#41bb80}
.message .wrapper .widget_content .readMore:hover{background:#257071}
.message .wrapper .widget_content.message_format h6{color:#257071}
.sneak-peek-container .sneak_peek .widget_content h6:hover{background:rgba(65,187,128,.6)}
.icon .chabad_updates .widget_content .item .icon img,.icon .widget_content .item .icon img{filter:brightness(0) invert(93%) sepia(73%) saturate(2125%) hue-rotate(40deg) contrast(80%)}
@supports (mask-position:center) or (-webkit-mask-position:center){
.icon .chabad_updates .widget_content .item .icon.loaded a,.icon .widget_content .item .icon.loaded a{background:#8bcf52;background:-moz-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:-webkit-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:linear-gradient(135deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aed73d", endColorstr="#68c868", GradientType=1)}
}
.hp-table>:not(:first-child) .promo_slider .cycle-directionNav a:before{color:#41bb80}
.hp-table>:not(:first-child) .promo_slider .cycle-directionNav a:hover:before{color:#65ca99}
.hp-table>:not(:first-child) .promo_slider .cycle-caption p big{color:#257071}
.hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore{border:2px solid #257071}
.hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore:hover{background:#257071}
.hp_content_wrapper .readMore{border:2px solid #257071;color:#41bb80}
.hp_content_wrapper .readMore:hover{background:#257071;border:2px solid #257071}
.hp_content_wrapper .upcoming_events .widget_content>ul>li h6,.hp_content_wrapper .upcoming_events .widget_content>ul>li h6 a,.hp_content_wrapper .widget_content>ul>li h6,.hp_content_wrapper .widget_content>ul>li h6 a{color:#41bb80}
.hp_content_wrapper [class*=widget-].candlelighting .candlelighting_content .times_wrapper .bold.large{color:#41bb80}
.hp_content_wrapper [class*=widget-].candlelighting .parsha_content .bold.large{color:#41bb80}
.hp_content_wrapper [class*=widget-].magazine .item .title,.hp_content_wrapper [class*=widget-].magazine .item .title a{color:#41bb80}
.hp_content_wrapper [class^=widget-].parsha .widget_content .title span{color:#41bb80}
.hp_content_wrapper .mini_slider .sectiontitle{color:#257071}
.hp_content_wrapper .mini_slider .title{color:#41bb80}
.hp_content_wrapper .mini_slider .anythingControls .thumbNav li a{border:1px solid #257071}
.hp_content_wrapper .mini_slider .anythingControls .thumbNav li a.cur{background:#257071}
.hp_content_wrapper .chabad_updates .item a{color:#41bb80}
.hp_content_wrapper .chabad_updates .item a.readMore{color:#257071}
.hp_content_wrapper .chabad_updates .item a.readMore:hover{color:#41bb80!important}
.hp_content_wrapper .latest_photos .readMore span{border:2px solid #257071;color:#41bb80}
.hp_content_wrapper .latest_photos .readMore span:hover{background:#257071;border:2px solid #257071}
.hp_content_wrapper .daily_quote .widget_content .subtitle{color:#41bb80}
.hp_content_wrapper .accordion .widget_content .header.active{color:#41bb80}
.hp_content_wrapper .tabs .widget_content .header.active{color:#41bb80}
.latest_photos .readMore span{border:2px solid #257071;color:#41bb80}
.latest_photos .readMore span:hover{background:#257071;border:2px solid #257071}
.hp-table .hp_subscribe{background:#8bcf52;background:-moz-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:-webkit-linear-gradient(-45deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);background:linear-gradient(135deg,#aed73d 0,#a2d444 25%,#8bcf52 50%,#77cb5f 75%,#68c868 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aed73d", endColorstr="#68c868", GradientType=1)}
.hp_subscribe .wrapper #formContainer fieldset input{color:#41bb80}
.hp_subscribe .wrapper #formContainer fieldset input[type=submit]{border-color:#257071}
.hp_subscribe .wrapper #formContainer fieldset input[type=submit]:hover{background:#257071}
.cs-f-social-icons a:hover{background:#41bb80}
.mobile .center_logo a span{color:#257071}
.mobile .menu .menu_button{color:#41bb80}
.menu .search .search_field,.mobile .menu .menu_button #MenuIcon span,.mobile .menu .menu_button #SearchIcon{background:#41bb80}
.mobile .promo_slider .cycle-controlNav .circle{border:1px solid #257071}
.mobile .promo_slider .cycle-controlNav .circle.selected{background:#257071}
.mobile .promo_slider .slide_wrapper .caption{color:#41bb80}
.on-scroll .cs-mobile-menu-open{color:#41bb80}
.not-homepage body .cs-mobile-menu-open,body:not(.home) .cs-mobile-menu-open{color:#41bb80}
@media (max-width:1024px){
.site-nav-wrapper{background:#41bb80}
}
#calendar_header .cal_secondary_header{color:#257071}
.cal_header_buttons .cal_button .button{background:#257071}
.cal_header_info a{color:#257071;border-bottom-color:#257071}
#calendar .item,#calendar .item .content .title,#calendar .item .content .title a,#calendar .item .header a,#calendar .item a,#calendar .list_item .title,#calendar .list_item .title a,#calendar.day .halachic_times .header,#calendar.day .item .content .main div.title{color:#41bb80}
#calendar .item.holiday{background:#f1faf6}
#calendar.day .halachic_times .header{background:#c4ead8}
#calendar .item .content #jewish_history .title:before{color:#aed73d}
#calendar .item .content #laws_customs .title:before{color:#aed73d}
#calendar .item .content #daily_study .title:before{color:#aed73d}
#calendar .item .content #torah_portion .title:before{color:#aed73d}
#calendar .item .content #zmanim .candlelighting.title:before,#calendar.day .candlelighting.title:before,#calendar.list .candlelighting.title:before{color:#aed73d}
.dir_ltr #calendar .item .content #events .title:before{color:#aed73d}
@supports (display:grid){
#CalendarContentContainer .year_view .month .month_header{background:#41bb80}
#CalendarContentContainer .year_view .month .day_name td{background:#257071}
}
#calendarPicker .header .active_date,#calendarPicker a,.list_view .list_info{color:#257071}
#calendarWrapper.gregorian #CivilCal,#calendarWrapper.jewish #JewishCal{background-color:#257071}
#CalendarToggle{border-color:#257071}
.cco_body .label_mustard{border-color:#aed73d;color:#aed73d;background:#ecf6d1!important}
.cco_body .label_green{border-color:#181e1d;color:#181e1d;background:#a6b8b5!important}
.cco_body .label_purple{border-color:#41bb80;color:#41bb80;background:#b1e4cb!important}
.cco_body .label_blue{border-color:#50c4c6;color:#50c4c6;background:#b0e4e5!important}
.cco_body .label_navy{border-color:#257071;color:#257071;background:#9ddedf!important}
.cco_body .label_pink{border-color:#d1e892;color:#d1e892;background:#ecf6d1!important}
.cco_body .label_maroon{border-color:#72901e;color:#72901e;background:#e3f1bc!important}
.cco_body .label_brown{border-color:#419432;color:#419432;background:#eaf7e7!important}
.cco_body .label_orange{border-color:#72ca62;color:#72ca62;background:#d2eecd!important}
.cco_body .label_lime{border-color:#2f3a38;color:#2f3a38;background:#6e8a85!important}
.cal_header_buttons .cal_button .button{border:2px solid #1f5d5e}
.cal_header_buttons .co_toggle_buttons .item{border:2px solid #41bb80;color:#41bb80}
.cal_header_buttons .co_toggle_buttons .item.selected{border:2px solid #41bb80;background:#41bb80}
.co_body .content .form-all .form-submit-button{background:#aed73d}
.co_body .content .form-all .form-submit-button:focus,.co_body .content .form-all .form-submit-button:hover{background:#93bb26}
#co_ads_container #MosadInformation .small_header{color:#41bb80}
.feedback_form .blue,.feedback_form .blue a{color:#257071}
.article_index_container .co_index.article_index .row .item .title a:hover{background:rgba(65,187,128,.6)}
.content .co_index.double.nested .item .wrapper.imageOnTop>a:hover .title{background:rgba(65,187,128,.6)}
.child_title a{color:#41bb80}
.child-subtitle,.child-subtitle a,.co_body .article_navigation_text a,.co_body .small_header,.co_body .small_header a,.co_body .small_header_alt,.co_body .small_header_alt a,.co_body .small_header_light,.co_body .small_header_light a,.co_content_container .small_header,.co_index .item .title,.co_index .item .title a,.comment-thread .reader-comment .comment-reply-link,.small-links__item--more a{color:#41bb80}
.co_body .date_navigation{border-bottom-color:#aed73d}
.co_body .content .child_title,.co_body .content .child_title a{color:#41bb80}
.co_global_button .button a,.co_global_button a.button{color:#41bb80}
.co_body .content .lt_blue a,.lt_blue,.lt_blue a{color:#41bb80}
.co_body .content .department_index .header a{color:#41bb80}
.co_body .content .department_index li:before{border-left:4px solid #257071}
#co_department_index .co_body .clearfix{background:#b0e4e5!important}
#co_department_index .co_body .clearfix .small_header{background:#257071;padding-bottom:15px!important}
.co_body .rounded_box a{color:#41bb80}
.hp-row .message .wrapper .widget_content .readMore:hover,.hp-table .hp-row .promo_slider .slider .cycle-caption .readMore:hover{background-color:#41bb80}
.hp-table .hp-row .promo_slider .slider .cycle-caption p big{color:#41bb80}
.hp-table .hp-row .promo_slider .slider .cycle-caption .readMore{border-color:#41bb80}
body.cco_body #tabContentMain .co_menu_item.donate_link.hover span.parent div a{border-color:#41bb80;color:#41bb80}
body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a{border-color:#41bb80}
.hp-row .message .wrapper .widget_content .readMore{border-color:#41bb80;color:#257071}
.hp-row [class^=widget-].latest_photos .readMore span{border:2px solid #41bb80}
.hp-row [class^=widget-].latest_photos .readMore:hover span span:hover{background:#41bb80}
#footer{background:#181e1d}
#footer .footer_text .footer3 .footer-title,#footer .footer_text .footer3 b .footer-title{color:#41bb80}