.main-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content {
    /* 
    1. align right on wide screens 
    2. hide once the user presses donate on narrower screens
    3. show it again if the user presses back
    */
    grid-row: 1 / 2;
}

.sidebar {
    /* 
    1. align left on wide screens
    2. only show if the user presses donate on narrower screens
    */
    grid-row: 2 / 3;
}

.candle img {
    border-radius: 20px;
}