@font-face {
	font-family: "Waymar";
	src: url("Waymar-Script.woff2") format("woff2"), url("Waymar-Script.woff") format("woff"), url("Waymar-Script.ttf") format("truetype") !important;
	font-weight: normal;
	font-style: normal;
}
